# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc



# Early critical step version
@backup

# Concept Design
设计稿

# logs
*.log
# test sql
*.db

# scaffold
*.ipynb

# vue-source
vue3

# My configurations:
myconfig.py
my_db_init.py

# system img
public/images/*
!alipay.png
